{{! ==========================================================
HERO SHEET (Foundry VTT v13)
Layout:
- Left: Character image
- Right: Basic information
- Below: Attribute bar in a single row
========================================================== }}

<form class="hero-sheet" autocomplete="off">

  {{! ======================================================
  HEADER AREA: IMAGE (LEFT) + BASIC INFO (RIGHT)
  ====================================================== }}
  <section class="header-flex">

    <div class="left-column">
      <div class="profile-wrapper"> <img class="profile-img" src="{{actor.img}}" data-edit="img"
          title="{{actor.name}}" /> </div>
      <section class="resistance-section">
        <h2>Resistances</h2>
        <div class="resistance-grid">
          <div class="res-row header">
            <div class="res-label"></div>
            <div class="res-col">Weak</div>
            <div class="res-col">Resist</div>
            <div class="res-col">Immune</div>
          </div>
          <div class="res-row">
            <div class="res-label">Electricity</div> <input type="checkbox" name="system.resistances.electricity.weak"
              {{checked system.resistances.electricity.weak}} /> <input type="checkbox"
              name="system.resistances.electricity.resist" {{checked system.resistances.electricity.resist}} /> <input
              type="checkbox" name="system.resistances.electricity.immune" {{checked
              system.resistances.electricity.immune}} />
          </div>
          <div class="res-row">
            <div class="res-label">Fire</div> <input type="checkbox" name="system.resistances.fire.weak" {{checked
              system.resistances.fire.weak}} /> <input type="checkbox" name="system.resistances.fire.resist" {{checked
              system.resistances.fire.resist}} /> <input type="checkbox" name="system.resistances.fire.immune" {{checked
              system.resistances.fire.immune}} />
          </div>
          <div class="res-row">
            <div class="res-label">Frost</div> <input type="checkbox" name="system.resistances.frost.weak" {{checked
              system.resistances.frost.weak}} /> <input type="checkbox" name="system.resistances.frost.resist" {{checked
              system.resistances.frost.resist}} /> <input type="checkbox" name="system.resistances.frost.immune"
              {{checked system.resistances.frost.immune}} />
          </div>
          <div class="res-row">
            <div class="res-label">Acid</div> <input type="checkbox" name="system.resistances.acid.weak" {{checked
              system.resistances.acid.weak}} /> <input type="checkbox" name="system.resistances.acid.resist" {{checked
              system.resistances.acid.resist}} /> <input type="checkbox" name="system.resistances.acid.immune" {{checked
              system.resistances.acid.immune}} />
          </div>
        </div>
      </section>
    </div>


    {{! MIDDLE COLUMN: Basic information }}
    <div class="basic-info">

      <h1>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Actor Name" />
      </h1>

      <div class="form-group">
        <label>Player Name</label>
        <input type="text" name="system.playerName" value="{{system.playerName}}" />
      </div>
      <div class="form-group">
        <label>Level</label>
        <input type="number" name="system.level" value="{{system.level}}" min="1" />
      </div>










      <h3 class="movement-title">Movement</h3>

      <!-- ROW 1 -->
      <div class="movement-row row-top">
        <div class="field">
          <label>Max</label>
          <input type="number" name="system.movement.max" value="{{system.movement.max}}" min="0"/>
        </div>

        <span class="operator">−</span>

        <div class="field">
          <label>Armor Penalty</label>
          <input type="number" name="system.movement.armorPenalty" value="{{sumArmorMovementPenalties system.armor}}" readonly/>
        </div>

        <span class="operator">=</span>
      </div>

      <!-- ROW 2 -->
      <div class="movement-row row-bottom">
        <div class="field">
          <label>Meter</label>
          <input type="number" name="system.movement.meters" value="{{subtract system.movement.max (sumArmorMovementPenalties system.armor)}}" min="0" readonly />
        </div>

        <div class="field">
          <label>Hexagons</label>
          <input type="number" name="system.movement.hexagons" value="{{divideRoundHalfUp (subtract system.movement.max (sumArmorMovementPenalties system.armor)) 2.5}}" min="0" readonly />
        </div>
      </div>
      <h2>Health</h2>
      <div class="form-group">


        <div class="health-values">
          <input type="number" name="system.health.value" value="{{system.health.value}}" min="0" />

          <span class="separator">/</span>

          <input
  type="number"
  name="system.health.max"
  value="{{halfRound system.attributes.body}}"
  readonly
/>

          <span class="separator">(</span>

          <input type="number" name="system.health.temp" value="{{system.health.temp}}" min="0" class="temp-health" />

          <span class="separator">)</span>
        </div>
      </div>
      <div class="form-group">
        <div class="health-values">

          <label>Reparable</label>
          <input type="checkbox" name="system.health.reparable" {{checked system.health.reparable}} />

          <label>Healable</label>
          <input type="checkbox" name="system.health.healable" {{checked system.health.healable}} />
        </div>
      </div>

    </div>





    {{! RIGHT COLUMN: Race and Class Section }}

    <div class="body-schema">

      <h2>BODY ZONES / DAMAGE</h2>

      <div class="body-grid">

        <!-- HEAD -->
        <div class="body-part">
          <div class="body-part-title">Head</div>

          <div class="damage-row">
            <label>Wound/Tear:</label>
            <div class="checkboxes">
              <input type="checkbox" name="system.body.head.wound.0" {{checked (lookup system.body.head.wound 0)}} />
              <input type="checkbox" name="system.body.head.wound.1" {{checked (lookup system.body.head.wound 1)}} />
              <input type="checkbox" name="system.body.head.wound.2" {{checked (lookup system.body.head.wound 2)}} />
            </div>
          </div>

          <div class="damage-row">
            <label>Destroyed:</label>
            <input type="checkbox" name="system.body.head.destroyed" {{checked system.body.head.destroyed}} />
          </div>
        </div>

        <!-- BODY Penalty -->
        <div class="body-part">
          <div class="body-part-title">Body Penalty</div>

          <div class="damage-row">
            <label>Accuracy:</label>
            <input type="number" name="system.body.bodyPenalty.accuracy"  value="{{add
              (armPenalty system.body.leftArm.wound system.body.leftArm.destroyed)
              (armPenalty system.body.rightArm.wound system.body.rightArm.destroyed)
           }}" readonly />
          </div>

          <div class="damage-row">
            <label>Agility:</label>
            <input type="number" name="system.body.bodyPenalty.agility" value="{{add
              (legPenalty system.body.leftLeg.wound system.body.leftLeg.destroyed)
              (legPenalty system.body.rightLeg.wound system.body.rightLeg.destroyed)
           }}" readonly />
          </div>
        </div>

        <!-- LEFT ARM -->
        <div class="body-part">
          <div class="body-part-title">Left Arm</div>

          <div class="damage-row">
            <label>Wound/Tear:</label>
            <div class="checkboxes">
              <input type="checkbox" name="system.body.leftArm.wound.0" {{checked (lookup system.body.leftArm.wound
                0)}} />
              <input type="checkbox" name="system.body.leftArm.wound.1" {{checked (lookup system.body.leftArm.wound
                1)}} />
              <input type="checkbox" name="system.body.leftArm.wound.2" {{checked (lookup system.body.leftArm.wound
                2)}} />
            </div>
          </div>

          <div class="damage-row">
            <label>Destroyed:</label>
            <input type="checkbox" name="system.body.leftArm.destroyed" {{checked system.body.leftArm.destroyed}} />
          </div>
        </div>

        <!-- RIGHT ARM -->
        <div class="body-part">
          <div class="body-part-title">Right Arm</div>

          <div class="damage-row">
            <label>Wound/Tear:</label>
            <div class="checkboxes">
              <input type="checkbox" name="system.body.rightArm.wound.0" {{checked (lookup system.body.rightArm.wound
                0)}} />
              <input type="checkbox" name="system.body.rightArm.wound.1" {{checked (lookup system.body.rightArm.wound
                1)}} />
              <input type="checkbox" name="system.body.rightArm.wound.2" {{checked (lookup system.body.rightArm.wound
                2)}} />
            </div>
          </div>

          <div class="damage-row">
            <label>Destroyed:</label>
            <input type="checkbox" name="system.body.rightArm.destroyed" {{checked system.body.rightArm.destroyed}} />
          </div>
        </div>

        <!-- LEFT LEG -->
        <div class="body-part">
          <div class="body-part-title">Left Leg</div>

          <div class="damage-row">
            <label>Wound/Tear:</label>
            <div class="checkboxes">
              <input type="checkbox" name="system.body.leftLeg.wound.0" {{checked (lookup system.body.leftLeg.wound
                0)}} />
              <input type="checkbox" name="system.body.leftLeg.wound.1" {{checked (lookup system.body.leftLeg.wound
                1)}} />
              <input type="checkbox" name="system.body.leftLeg.wound.2" {{checked (lookup system.body.leftLeg.wound
                2)}} />
            </div>
          </div>

          <div class="damage-row">
            <label>Destroyed:</label>
            <input type="checkbox" name="system.body.leftLeg.destroyed" {{checked system.body.leftLeg.destroyed}} />
          </div>
        </div>

        <!-- RIGHT LEG -->
        <div class="body-part">
          <div class="body-part-title">Right Leg</div>

          <div class="damage-row">
            <label>Wound/Tear:</label>
            <div class="checkboxes">
              <input type="checkbox" name="system.body.rightLeg.wound.0" {{checked (lookup system.body.rightLeg.wound
                0)}} />
              <input type="checkbox" name="system.body.rightLeg.wound.1" {{checked (lookup system.body.rightLeg.wound
                1)}} />
              <input type="checkbox" name="system.body.rightLeg.wound.2" {{checked (lookup system.body.rightLeg.wound
                2)}} />
            </div>
          </div>

          <div class="damage-row">
            <label>Destroyed:</label>
            <input type="checkbox" name="system.body.rightLeg.destroyed" {{checked system.body.rightLeg.destroyed}} />
          </div>
        </div>

      </div>
    </div>

  </section>

  {{! ======================================================
  ATTRIBUTE BAR (ONE HORIZONTAL ROW)
  ====================================================== }}
  <section class="attribute-bar">

    <div class="attribute">
      <label>Body</label>
      <input type="number" name="system.attributes.body" value="{{system.attributes.body}}" />
    </div>

    <div class="attribute">
      <label>Agility</label>
      <input type="number" name="system.attributes.agility" value="{{system.attributes.agility}}" />
    </div>

    <div class="attribute">
      <label>Accuracy</label>
      <input type="number" name="system.attributes.accuracy" value="{{system.attributes.accuracy}}" />
    </div>

    <div class="attribute">
      <label>Knowledge</label>
      <input type="number" name="system.attributes.knowledge" value="{{system.attributes.knowledge}}" />
    </div>

    <div class="attribute">
      <label>Technique</label>
      <input type="number" name="system.attributes.technique" value="{{system.attributes.technique}}" />
    </div>

    <div class="attribute">
      <label>Social</label>
      <input type="number" name="system.attributes.social" value="{{system.attributes.social}}" />
    </div>

  </section>

  {{! ======================================================
  TABS UNDER ATTRIBUTE BAR
  Three tabs: Skills, Equipment, Notes
  ====================================================== }}

  <nav class="sheet-tabs" data-group="primary-tabs">
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="battle">Battle</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="characterinfo">Character Info</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">

    {{! ===========================
    TAB: SKILLS
    =========================== }}
    <div class="tab" data-group="primary-tabs" data-tab="skills">
      <section class="skill">

        <h2>Skills</h2>

        <div class="skill-grid">

          {{! BODY }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.strength.checked" {{checked system.skills.strength.checked}} />
            <label>Strength (Body)</label>
            <input type="number" name="system.skills.strength.value"
              value="{{skillValue system.attributes.body system.skills.strength.checked}}" min="0" max="100" readonly />
            <span class="skill-item">US
              <input type="number" name="system.skills.strength.us.value" value="{{divideRoundHalfUp system.skills.strength.value 20}}"
                min="0" max="100" readonly /></span>
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.resilience.checked" {{checked system.skills.resilience.checked}} />
            <label>resilience (Body)</label>
            <input type="number" name="system.skills.resilience.value"
              value="{{skillValue system.attributes.body system.skills.resilience.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.intimidation.checked" {{checked
              system.skills.intimidation.checked}} />
            <label>Intimidation (Body)</label>
            <input type="number" name="system.skills.intimidation.value"
              value="{{skillValue system.attributes.body system.skills.intimidation.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.melee.checked" {{checked system.skills.melee.checked}} />
            <label>Melee Combat (Body | Agility)</label>
            <input type="number" name="system.skills.melee.value"
              value="{{meleeValue system.attributes.body system.attributes.agility system.skills.melee.checked}}" min="0" max="100" readonly />
          </div>

          {{! AGILITY }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.dodge.checked" {{checked system.skills.dodge.checked}} />
            <label>Dodge (Agility)</label>
            <input type="number" name="system.skills.dodge.value"
              value="{{skillValue system.attributes.agility system.skills.dodge.checked}}" min="0" max="100" readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.stealth.checked" {{checked system.skills.stealth.checked}} />
            <label>Stealth (Agility)</label>
            <input type="number" name="system.skills.stealth.value"
              value="{{skillValue system.attributes.agility system.skills.stealth.checked}}" min="0" max="100"
              readonly />
          </div>

          {{! ACCURACY }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.ranged.checked" {{checked system.skills.ranged.checked}} />
            <label>Ranged Combat (Accuracy)</label>
            <input type="number" name="system.skills.ranged.value"
              value="{{skillValue system.attributes.accuracy system.skills.ranged.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.investigation.checked" {{checked
              system.skills.investigation.checked}} />
            <label>Investigation (Accuracy)</label>
            <input type="number" name="system.skills.investigation.value"
              value="{{skillValue system.attributes.accuracy system.skills.investigation.checked}}" min="0" max="100"
              readonly />
          </div>

          {{! KNOWLEDGE }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.medicine.checked" {{checked system.skills.medicine.checked}} />
            <label>Medicine (Knowledge)</label>
            <input type="number" name="system.skills.medicine.value"
              value="{{skillValue system.attributes.knowledge system.skills.medicine.checked}}" min="0" max="100"
              readonly />
            <span class="skill-item">M
              <input type="number" name="system.skills.medicine.m.value" value="{{divideRoundHalfUp system.skills.medicine.value 20}}"
                min="0" max="100" readonly /></span>
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.survival.checked" {{checked system.skills.survival.checked}} />
            <label>Survival (Knowledge)</label>
            <input type="number" name="system.skills.survival.value"
              value="{{skillValue system.attributes.knowledge system.skills.survival.checked}}" min="0" max="100"
              readonly />
          </div>

          {{! TECHNIQUE }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.weaponhandling.checked" {{checked
              system.skills.weaponhandling.checked}} />
            <label>Weapon Handling (Technique)</label>
            <input type="number" name="system.skills.weaponhandling.value"
              value="{{skillValue system.attributes.technique system.skills.weaponhandling.checked}}" min="0" max="100"
              readonly />
            <span class="skill-item">WH
              <input type="number" name="system.skills.weaponhandling.wh.value"
                value="{{divideRoundHalfUp system.skills.weaponhandling.value 20}}" min="0" max="100" readonly /></span>
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.tinkering.checked" {{checked system.skills.tinkering.checked}} />
            <label>Tinkering (Technique)</label>
            <input type="number" name="system.skills.tinkering.value"
              value="{{skillValue system.attributes.technique system.skills.tinkering.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.repair.checked" {{checked system.skills.repair.checked}} />
            <label>Repair (Technique)</label>
            <input type="number" name="system.skills.repair.value"
              value="{{skillValue system.attributes.technique system.skills.repair.checked}}" min="0" max="100"
              readonly />
            <span class="skill-item">R
              <input type="number" name="system.skills.repair.r.value" value="{{divideRoundHalfUp system.skills.repair.value 20}}" min="0"
                max="100" readonly /></span>
          </div>

          {{! SOCIAL }}
          <div class="skill-item">
            <input type="checkbox" name="system.skills.eloquence.checked" {{checked system.skills.eloquence.checked}} />
            <label>Eloquence (Social)</label>
            <input type="number" name="system.skills.eloquence.value"
              value="{{skillValue system.attributes.social system.skills.eloquence.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.performance.checked" {{checked
              system.skills.performance.checked}} />
            <label>Performance (Social)</label>
            <input type="number" name="system.skills.performance.value"
              value="{{skillValue system.attributes.social system.skills.performance.checked}}" min="0" max="100"
              readonly />
          </div>

          <div class="skill-item">
            <input type="checkbox" name="system.skills.empathy.checked" {{checked system.skills.empathy.checked}} />
            <label>Empathy (Social)</label>
            <input type="number" name="system.skills.empathy.value"
              value="{{skillValue system.attributes.social system.skills.empathy.checked}}" min="0" max="100"
              readonly />
          </div>

        </div>
      </section>

    </div>

    {{! ===========================
    TAB: BATTLE
    =========================== }}
    <div class="tab" data-group="primary-tabs" data-tab="battle">

      <section class="tab-content">
        <h2>Abilities</h2>

        {{!-- === Ability Row 1 === --}}
        <div class="ability-row">
          <label class="lvl-label">LvL1</label>

          <input type="checkbox" name="system.abilities.ability1.lvl1_1" {{checked system.abilities.ability1.lvl1_1}} />

          <input type="checkbox" name="system.abilities.ability1.lvl1_2" {{checked system.abilities.ability1.lvl1_2}} />

          <input type="text" name="system.abilities.ability1.abilityProperties"
            value="{{system.abilities.ability1.abilityProperties}}" placeholder="Text" />
        </div>

        {{!-- === Ability Row 2 === --}}
        <div class="ability-row">
          <label class="lvl-label">LvL2</label>

          <input type="checkbox" name="system.abilities.ability2.lvl2_1" {{checked system.abilities.ability2.lvl2_1}} />

          <input type="checkbox" name="system.abilities.ability2.lvl2_2" {{checked system.abilities.ability2.lvl2_2}} />

          <input type="text" name="system.abilities.ability2.abilityProperties"
            value="{{system.abilities.ability2.abilityProperties}}" placeholder="Text" />
        </div>

        {{!-- === Ability Row 3 === --}}
        <div class="ability-row">
          <label class="lvl-label">LvL4</label>

          <input type="checkbox" name="system.abilities.ability3.lvl3_1" {{checked system.abilities.ability3.lvl3_1}} />

          <input type="checkbox" name="system.abilities.ability3.lvl3_2" {{checked system.abilities.ability3.lvl3_2}} />

          <input type="text" name="system.abilities.ability3.abilityProperties"
            value="{{system.abilities.ability3.abilityProperties}}" placeholder="Text" />
        </div>

      </section>
      <section class="equipment-grid">

        {{! =======================
        WEAPONS
        ======================= }}
        <div class="equipment-block weapons">
          <h2>Weapons</h2>

          {{!-- Primary Weapon --}}
          <div class="weapon-row primary-weapon">

            <div class="field-line">
              <label>Primary Weapon:</label>
              <input type="text" name="system.weapons.primary.name" value="{{system.weapons.primary.name}}" />
            </div>

            <div class="field-line">
              <label>Weapon Type:</label>
              <select name="system.weapons.primary.type">
                <option value="melee" {{#if (eq system.weapons.primary.type "melee" )}}selected{{/if}}>Melee</option>
                <option value="close" {{#if (eq system.weapons.primary.type "close" )}}selected{{/if}}>Close Range
                </option>
                <option value="middle" {{#if (eq system.weapons.primary.type "middle" )}}selected{{/if}}>Middle Range
                </option>
                <option value="wide" {{#if (eq system.weapons.primary.type "wide" )}}selected{{/if}}>Wide Range</option>
              </select>
            </div>

            <div class="field-line">
              <label>Weapon Accuracy:</label>
              <input type="number" name="system.weapons.primary.accuracy" value="{{system.weapons.primary.accuracy}}" />
            </div>

            <div class="field-line damage-line">
              <label>Weapon Damage:</label>

              <!-- Number of dice -->
              <input type="number" name="system.weapons.primary.damageDieCount"
                value="{{system.weapons.primary.damageDieCount}}" />

              <span class="damage-die-prefix">D</span>

              <!-- Die size -->
              <input type="number" name="system.weapons.primary.damageDie"
                value="{{system.weapons.primary.damageDie}}" />

              <span class="damage-plus">+</span>

              <!-- Flat bonus -->
              <input type="number" name="system.weapons.primary.damageBonus"
                value="{{system.weapons.primary.damageBonus}}" />

              <span class="damage-suffix">DMG</span>
            </div>

            <div class="field-line">
              <label>Damage Type:</label>
              <input type="text" name="system.weapons.primary.damageType"
                value="{{system.weapons.primary.damageType}}" />
            </div>

            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.weapons.primary.properties"
                value="{{system.weapons.primary.properties}}" />
            </div>

          </div>

          {{!-- Secondary Weapon --}}
          <div class="weapon-row secondary-weapon">

            <div class="field-line">
              <label>Secondary Weapon:</label>
              <input type="text" name="system.weapons.secondary.name" value="{{system.weapons.secondary.name}}" />
            </div>

            <div class="field-line">
              <label>Weapon Type:</label>
              <select name="system.weapons.secondary.type">
                <option value="melee" {{#if (eq system.weapons.secondary.type "melee" )}}selected{{/if}}>Melee</option>
                <option value="close" {{#if (eq system.weapons.secondary.type "close" )}}selected{{/if}}>Close Range
                </option>
                <option value="middle" {{#if (eq system.weapons.secondary.type "middle" )}}selected{{/if}}>Middle Range
                </option>
                <option value="wide" {{#if (eq system.weapons.secondary.type "wide" )}}selected{{/if}}>Wide Range
                </option>
              </select>
            </div>

            <div class="field-line">
              <label>Weapon Accuracy:</label>
              <input type="number" name="system.weapons.secondary.accuracy"
                value="{{system.weapons.secondary.accuracy}}" />
            </div>

            <div class="field-line damage-line">
              <label>Weapon Damage:</label>

              <!-- Number of dice -->
              <input type="number" name="system.weapons.secondary.damageDieCount"
                value="{{system.weapons.secondary.damageDieCount}}" />

              <span class="damage-die-prefix">D</span>

              <!-- Die size -->
              <input type="number" name="system.weapons.secondary.damageDie"
                value="{{system.weapons.secondary.damageDie}}" />

              <span class="damage-plus">+</span>

              <!-- Flat bonus -->
              <input type="number" name="system.weapons.secondary.damageBonus"
                value="{{system.weapons.secondary.damageBonus}}" />

              <span class="damage-suffix">DMG</span>
            </div>

            <div class="field-line">
              <label>Damage Type:</label>
              <input type="text" name="system.weapons.secondary.damageType"
                value="{{system.weapons.secondary.damageType}}" />
            </div>

            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.weapons.secondary.properties"
                value="{{system.weapons.secondary.properties}}" />
            </div>

          </div>
          <section class="status-effects">
            <h2>Statuseffekte</h2>

            <table class="status-table">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Immun</th>
                  <th>Angewendet</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Blinded</td>
                  <td>
                    <input type="checkbox" name="system.status.blinded.immune" {{checked
                      system.status.blinded.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.blinded.applied" {{checked
                      system.status.blinded.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Bleeding</td>
                  <td>
                    <input type="checkbox" name="system.status.bleeding.immune" {{checked
                      system.status.bleeding.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.bleeding.applied" {{checked
                      system.status.bleeding.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Radiated</td>
                  <td>
                    <input type="checkbox" name="system.status.radiated.immune" {{checked
                      system.status.radiated.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.radiated.applied" {{checked
                      system.status.radiated.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Poisoned</td>
                  <td>
                    <input type="checkbox" name="system.status.poisoned.immune" {{checked
                      system.status.poisoned.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.poisoned.applied" {{checked
                      system.status.poisoned.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Chilled</td>
                  <td>
                    <input type="checkbox" name="system.status.chilled.immune" {{checked
                      system.status.chilled.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.chilled.applied" {{checked
                      system.status.chilled.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Burning</td>
                  <td>
                    <input type="checkbox" name="system.status.burning.immune" {{checked
                      system.status.burning.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.burning.applied" {{checked
                      system.status.burning.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Stunned</td>
                  <td>
                    <input type="checkbox" name="system.status.stunned.immune" {{checked
                      system.status.stunned.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.stunned.applied" {{checked
                      system.status.stunned.applied}} />
                  </td>
                </tr>

                <tr>
                  <td>Shocked</td>
                  <td>
                    <input type="checkbox" name="system.status.shocked.immune" {{checked
                      system.status.shocked.immune}} />
                  </td>
                  <td>
                    <input type="checkbox" name="system.status.shocked.applied" {{checked
                      system.status.shocked.applied}} />
                  </td>
                </tr>
              </tbody>
            </table>
          </section>

        </div>

        {{! =======================
        ARMOR
        ======================= }}
        <div class="equipment-block armor">
          <h2>Armor</h2>
        <div class="field-line">
  <label>Total Armor Value:</label>
  <input type="number"
         name="system.armor.totalValue"
         value="{{sumArmorValues system.armor}}"
         readonly />
</div>

<div class="armor-summary">
  <div class="field-line">
    <label>Total Accuracy Penalty:</label>
    <input type="number"
           name="system.armor.penaltyAccuracyTotal"
           value="{{sumArmorAccuracyPenalties system.armor}}" readonly/>
  </div>

  <div class="field-line">
    <label>Total Movement Penalty:</label>
    <input type="number"
           name="system.armor.penaltyMovementTotal"
           value="{{sumArmorMovementPenalties system.armor}}" readonly/>
  </div>
</div>


          {{! Helmet }}
          <div class="armor-row armor-helmet">
            <div class="field-line">
              <label>Helmet:</label>
              <input type="text" name="system.armor.helmet.name" value="{{system.armor.helmet.name}}" />
            </div>
            <div class="field-line">
              <label>Armor Penalty:</label>
              <input type="number" name="system.armor.helmet.penalty" value="{{system.armor.helmet.penalty}}" />
            </div>
            <div class="field-line">
              <label>Armor Value:</label>
              <input type="number" name="system.armor.helmet.value" value="{{system.armor.helmet.value}}" />
            </div>
            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.armor.helmet.properties" value="{{system.armor.helmet.properties}}" />
            </div>
          </div>

          {{! Vest }}
          <div class="armor-row armor-vest">
            <div class="field-line">
              <label>Protective Vest:</label>
              <input type="text" name="system.armor.vest.name" value="{{system.armor.vest.name}}" />
            </div>
            <div class="field-line">
              <label>Armor Penalty:</label>
              <input type="number" name="system.armor.vest.penalty" value="{{system.armor.vest.penalty}}" />
            </div>
            <div class="field-line">
              <label>Armor Value:</label>
              <input type="number" name="system.armor.vest.value" value="{{system.armor.vest.value}}" />
            </div>
            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.armor.vest.properties" value="{{system.armor.vest.properties}}" />
            </div>
          </div>

          {{! Bracers }}
          <div class="armor-row armor-bracers">
            <div class="field-line">
              <label>Bracers:</label>
              <input type="text" name="system.armor.bracers.name" value="{{system.armor.bracers.name}}" />
            </div>
            <div class="field-line">
              <label>Armor Penalty:</label>
              <input type="number" name="system.armor.bracers.penalty" value="{{system.armor.bracers.penalty}}" />
            </div>
            <div class="field-line">
              <label>Armor Value:</label>
              <input type="number" name="system.armor.bracers.value" value="{{system.armor.bracers.value}}" />
            </div>
            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.armor.bracers.properties" value="{{system.armor.bracers.properties}}" />
            </div>
          </div>

          {{! Protective Pants }}
          <div class="armor-row armor-pants">
            <div class="field-line">
              <label>Protective Pants:</label>
              <input type="text" name="system.armor.pants.name" value="{{system.armor.pants.name}}" />
            </div>
            <div class="field-line">
              <label>Armor Penalty:</label>
              <input type="number" name="system.armor.pants.penalty" value="{{system.armor.pants.penalty}}" />
            </div>
            <div class="field-line">
              <label>Armor Value:</label>
              <input type="number" name="system.armor.pants.value" value="{{system.armor.pants.value}}" />
            </div>
            <div class="field-line">
              <label>Properties:</label>
              <input type="text" name="system.armor.pants.properties" value="{{system.armor.pants.properties}}" />
            </div>
          </div>

        </div>

      </section>




    </div>

    {{! ===========================
    TAB: EQUIPMENT
    =========================== }}
    <div class="tab" data-group="primary-tabs" data-tab="inventory">
      <div class="row-two-fields">

        <div class="form-group">
          <label>Wealth:</label>
          <input type="number" name="system.wealth.infinitis" value="{{system.wealth.infinitis}}"
            placeholder="Infinitis" />
        </div>

        <div class="form-group">
          <label>Scrap: (max 10)</label>
          <div class="scrap-row">
            <input type="number" name="system.scrap.value" value="{{system.scrap.value}}" min="0" max="10" />
            <span>(+</span>
            <input type="number" name="system.scrap.bonus" value="{{system.scrap.bonus}}" class="scrap-bonus" />
            <span>)</span>
          </div>
        </div>

      </div>


      <div class="panel-block">
        <h3>Inventory:</h3>

        <div class="inventory-grid">

          <div class="inventory-row">
            <span class="inv-number">1:</span>
            <input type="text" name="system.inventory.one" value="{{system.inventory.one}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">2:</span>
            <input type="text" name="system.inventory.two" value="{{system.inventory.two}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">3:</span>
            <input type="text" name="system.inventory.three" value="{{system.inventory.three}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">4:</span>
            <input type="text" name="system.inventory.four" value="{{system.inventory.four}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">5:</span>
            <input type="text" name="system.inventory.five" value="{{system.inventory.five}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">6:</span>
            <input type="text" name="system.inventory.six" value="{{system.inventory.six}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">7:</span>
            <input type="text" name="system.inventory.seven" value="{{system.inventory.seven}}" />
          </div>

          <div class="inventory-row">
            <span class="inv-number">8:</span>
            <input type="text" name="system.inventory.eight" value="{{system.inventory.eight}}" />
          </div>

        </div>
        <div class="panel-block">
          <label>Inventory Note:</label>
          <textarea name="system.inventoryNote" rows="6">{{system.inventoryNote}}</textarea>
        </div>

      </div>



    </div>

    {{! ===========================
    TAB: CHARACTER INFO
    =========================== }}

    <div class="tab" data-group="primary-tabs" data-tab="characterinfo">
      <div class="grid-3col">

        <div class="form-group">
          <label>Armor Types</label>
          <input type="text" name="system.gear.armorTypes" value="{{system.gear.armorTypes}}" />
        </div>

        <div class="form-group">
          <label>Race</label>
          <input type="text" name="system.identity.race" value="{{system.identity.race}}" />
        </div>
        <div class="form-group">
          <label>Sex</label>
          <input type="text" name="system.identity.sex" value="{{system.identity.sex}}" />
        </div>




        <div class="form-group">
          <label>Weapon Types</label>
          <input type="text" name="system.gear.weaponTypes" value="{{system.gear.weaponTypes}}" />
        </div>

        <div class="form-group">
          <label>Class</label>
          <input type="text" name="system.identity.class" value="{{system.identity.class}}" />
        </div>

        <div class="form-group">
          <label>Playertyp</label>
          <input type="text" name="system.identity.playertyp" value="{{system.identity.playertyp}}" />
        </div>



      </div>


      <label>Character Note</label>
      <textarea name="system.identity.note" rows="16"
        placeholder="Character Note...">{{system.identity.note}}</textarea>


    </div>
    </div>

    {{! ===========================
    TAB: NOTES
    =========================== }}
    <div class="tab" data-group="primary-tabs" data-tab="notes">
      <h2>Notes</h2>
      <textarea name="system.notes" rows="16" placeholder="Adventure notes...">{{system.notes}}</textarea>
      <section class="level-section">
        <label class="section-title">Level:</label>
        {{#each levels as |L|}}
        <div class="level-row">
          <input type="checkbox" name="system.levels.{{L.main}}" {{checked (lookup @root.system.levels L.main)}} />
          <span>Lvl {{L.lvl}}</span>
          {{#each L.subs as |sub|}}
          <input type="checkbox" name="system.levels.{{sub}}" {{checked (lookup @root.system.levels sub)}} />
          {{/each}}
        </div>
        {{/each}}
      </section>

    </div>

  </section>

</form>